---
layout: base
---

<div id="frame">
    <div id="content">
        <div id="maincol">
            <div>
                <center>
                    <h1>
                        NERsuite</h1>
                </center>
            </div>
            <div>
                <center>
                    <h3>
                        <i>A Named Entity Recognition toolkit</i>
                    </h3>
                </center>
            </div>
            <div id="maindiv">
                <div>
                    <h2 id="welcome">
                        FAQs</h2>
                    <p>
                    </p>
                </div>
            </div>
        </div>
        <div id="subcol">
            {% include menu.html %}
        </div>
    </div>
    {% include ftr.html %}
</div>
