<div id="menu">
  <div>
    &nbsp;
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    &nbsp;
  </div>
  <ul>
    <li class="selected"><a href="index.html">Home</a></li>
    <li><a href="index.html#News">What's New</a></li>
    <li><a href="download.html">Download</a> </li>
    <li><a href="installation_guide.html">Installation Guide</a> </li>
    <li><a href="basic_usage.html">Basic Usage</a> </li>
    <li><a href="advanced_usage.html">Advanced Usage</a> </li>
    <li><a href="command_reference.html">Command Reference</a> </li>
    <li><a href="faqs.html">FAQs</a> </li>
  </ul>
</div>
